altgraph==0.17
appdirs==1.4.4
executing==0.5.4
Faker==6.5.0
future==0.18.2
gym==0.17.2
numpy==1.19.5
pefile==2019.4.18
pyglet==1.5.0
pygubu==0.10.4
pygubu-designer==0.12
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
python-dateutil==2.8.1
pywin32-ctypes==0.2.0
scipy==1.6.1
six==1.15.0
text-unidecode==1.3
varname==0.6.0
