appdirs==1.4.4
atomicwrites==1.4.0
attrs==20.3.0
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.4
executing==0.5.4
future==0.18.2
gym==0.17.3
iniconfig==1.1.1
install==1.3.4
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.19.5
packaging==20.9
pillow==8.1.0
pluggy==0.13.1
py==1.10.0
pygame==2.0.1
pyglet==1.5.0
pygubu==0.10.4
pygubu-designer==0.12
pyparsing==2.4.7
pytest==6.2.2
python-dateutil==2.8.1
python-Levenshtein==0.12.2
ruamel.yaml==0.16.12
scipy==1.6.0
six==1.15.0
toml==0.10.2
varname==0.6.0
Werkzeug==1.0.1
